@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

$primary-font-family: Montserrat, sans-serif;
$secondary-font-family: 'Fraunces', serif;

$font-weight-normal: 500;
$font-weight-bold: 700;

$primary-font-size: 0.875rem;