@import 'reset';
@import 'colors';
@import 'fonts';
@import 'variables';

body {
  font-family: $primary-font-family;
  background: $primary-bg;
  font-size: $primary-font-size;
  font-weight: $font-weight-normal;
  line-height: 1.7;
}

.container {
  padding: $primary-spacer;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.card {
  background-color: $white;
  border-radius: $primary-border-radius;
  max-width: 600px;

  & .card__image {
    width: 100%;
    max-width: 100%;
    border-radius: $primary-border-radius $primary-border-radius 0 0;
  }

  & .card__body {
    padding: 1.5rem;

    & .card__title {
      font-size: 2rem;
      line-height: 1;
      font-family: $secondary-font-family;
      margin-bottom: $primary-spacer;
    }

    & .card__subtitle {
      font-weight: $font-weight-normal;
      font-size: 0.7rem;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: $primary-spacer;
      color: $dark-grayish-blue;
    }

    & .card__text,
    .card__product-price {
      margin-bottom: $primary-spacer;
      color: $dark-grayish-blue;
    }

    & .card__product-price {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: $secondary-font-family;
      font-weight: $font-weight-bold;
      color: $dark-cyan;
      font-size: 2rem;
    }

    & .card__product-price--small {
      font-family: $primary-font-family;
      font-size: 0.8rem;
      font-weight: $font-weight-normal;
      color: $dark-grayish-blue;
    }
  }

  & .card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0.75rem;
    background-color: $primary-btn;
    color: $white;
    border: none;
    border-radius: $primary-btn-radius;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: adjust-color($color: $primary-btn, $lightness: -10%);
    }

    & .card__button-icon {
      display: inline-block;
      padding-right: 0.75rem;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    display: grid;
    place-content: center;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & .card__image {
      border-radius: $primary-border-radius 0 0 $primary-border-radius;
    }

    & .card__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
